{
  "swagger" : "2.0",
  "info" : {
    "version" : "2023-09-18T20:03:53Z",
    "title" : "cdc-btg-poligono-external-gateway"
  },
  "host" : "api-cdc-btg.sandbox.credito.banqi.com",
  "basePath" : "/poligono",
  "schemes" : [ "https" ],
  "paths" : {
    "/webhook/v1/onboarding" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "PoligonoOnboardingWebhookPayloadValidator",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PoligonoOnboardingWebhookPayloadValidator"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-amazon-apigateway-request-validator" : "onboarding-webhook-payload-validator",
        "x-amazon-apigateway-integration" : {
          "credentials" : "arn:aws:iam::350052834728:role/service-role/cdc-btg-external-poligono-api-gateway-role-dev",
          "httpMethod" : "POST",
          "uri" : "arn:aws:apigateway:us-east-1:sqs:path/cdc-btg-onboarding-result.fifo",
          "responses" : {
            "^2[0-9][0-9]" : {
              "statusCode" : "200",
              "responseTemplates" : {
                "application/json" : "{}"
              }
            }
          },
          "requestParameters" : {
            "integration.request.header.Content-Type" : "'application/x-www-form-urlencoded'"
          },
          "requestTemplates" : {
            "application/json" : "#set($body = $input.path('$'))\n#set($messageDeduplicationId = \"$body.data.id_message#$body.data.status\")\nAction=SendMessage&MessageGroupId=$body.operation_id&MessageDeduplicationId=$messageDeduplicationId&MessageBody=$input.body"
          },
          "passthroughBehavior" : "never",
          "timeoutInMillis" : 29000,
          "type" : "aws"
        }
      }
    }
  },
  "securityDefinitions" : {
    "api_key" : {
      "type" : "apiKey",
      "name" : "x-api-key",
      "in" : "header"
    }
  },
  "definitions" : {
    "Empty" : {
      "type" : "object",
      "title" : "Empty Schema"
    },
    "PoligonoOnboardingWebhookPayloadValidator" : {
      "type" : "object",
      "required" : [ "data", "event_id", "event_type", "operation_id" ],
      "properties" : {
        "event_type" : {
          "type" : "string",
          "enum" : [ "onboarding.finished" ]
        },
        "event_id" : {
          "type" : "string"
        },
        "operation_id" : {
          "type" : "string",
          "minLength" : 1
        },
        "data" : {
          "type" : "object",
          "properties" : {
            "ecid" : {
              "type" : "string"
            },
            "operation_id" : {
              "type" : "string",
              "minLength" : 1
            },
            "status" : {
              "type" : "string",
              "enum" : [ "success", "error" ]
            },
            "id_message" : {
              "type" : "string",
              "minLength" : 1
            },
            "message" : {
              "type" : "string"
            }
          },
          "required" : [ "ecid", "id_message", "message", "operation_id", "status" ]
        }
      }
    }
  },
  "x-amazon-apigateway-documentation" : {
    "version" : "1.0",
    "createdDate" : "2023-09-19T17:27:51Z",
    "documentationParts" : [ {
      "location" : {
        "type" : "API"
      },
      "properties" : {
        "description" : ""
      }
    } ]
  },
  "x-amazon-apigateway-gateway-responses" : {
    "ACCESS_DENIED" : {
      "statusCode" : 403,
      "responseTemplates" : {
        "application/json" : "{\"message\":\"Access Denied\"}"
      }
    }
  },
  "x-amazon-apigateway-policy" : {
    "Version" : "2012-10-17",
    "Statement" : [ {
      "Sid" : "DenyInvoke",
      "Effect" : "Deny",
      "Principal" : "*",
      "Action" : "execute-api:Invoke",
      "Resource" : "arn:aws:execute-api:us-east-1:350052834728:paqo7kkxxe/*",
      "Condition" : {
        "NotIpAddress" : {
          "aws:SourceIp" : "54.94.31.92/32"
        }
      }
    }, {
      "Sid" : "AllowInvoke",
      "Effect" : "Allow",
      "Principal" : "*",
      "Action" : "execute-api:Invoke",
      "Resource" : "arn:aws:execute-api:us-east-1:350052834728:paqo7kkxxe/*",
      "Condition" : {
        "IpAddress" : {
          "aws:SourceIp" : "54.94.31.92/32"
        }
      }
    } ]
  },
  "x-amazon-apigateway-request-validators" : {
    "onboarding-webhook-payload-validator" : {
      "validateRequestParameters" : false,
      "validateRequestBody" : true
    }
  }
}
